a { color:blue; }
a:hover { color: red; }
header {display: flex; flex-direction: row; }
body { display: flex; flex-direction: column; }
main { display: flex; flex: auto; }
aside{ flex: 1;}
article{ flex: 3;}
